<!DOCTYPE html>
<head>
  <base href="/">
  <title>Watson Assistant Intermediate App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:image" content="conversation.svg" />
  <meta property="og:title" content="Conversation Chat Simple" />
  <meta property="og:description"
    content="Sample application that shows how to use the Watson Assistant API to identify user intents" />
  <link rel="shortcut icon" href="favicon.png" type="image/png">
  <link rel="stylesheet" href="css/app.css">
</head>

<body>
  <header>
    <div id="facLogo">
        <a href="../index.html"><img src="../img/WebLogo.png"/></a>
    </div>
  </header>
  <nav id="topMenu">
    <ul>
      <li><a class="menuLink" href="../views/guideForFAC.html">FAC소개</a></li>
      <li><a class="menuLink" href="../views/supportPolicy.html">지원 정책</a></li>
      <li><a class="menuLink" href="../views/confirmedCase.html">확진자 정보</a></li>
      <li><a class="menuLink" href="../views/medicalCentre.html">선별 관리소</a></li>
      <li><a class="menuLink" href="../views/prevention.html">예방 수칙</a></li>
      <li><a class="menuLink" href="#">환경설정</a></li>
    </ul>
  </nav>
  <div>
      <img src="../img/supportPolicy.png"/>
  </div>
  <script src="js/common.js"></script>
  <script src="js/api.js"></script>
  <script src="js/conversation.js"></script>
  <script src="js/uiActionFunctions.js"></script>
  <script src="js/payload.js"></script>
  <script src="js/global.js"></script>
</body>

</html>